#xt-pdf .viewer_toolbar-layout {
  height: var(--toolbar-height, 40px);
}
#xt-pdf .viewer_toolbar-layout .viewer_toolbar-content {
  height: 100%;
  background-color: #fff;
  border-bottom: 0.6px solid #d4d4d7;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
